# Node
node_modules/

# Env
.env
.env.*

# Mac
.DS_Store

# Build output
/dist/
/.next/
/coverage/
/.turbo/

# Editor
.vscode/
.idea/

# Log
*.log

# Example
/example/.env

# SDK
/sdk/node_modules/
/sdk/dist/

# Frontend
/frontend/node_modules/
/frontend/.next/
/frontend/coverage/
/frontend/.env

# Backend
/backend/node_modules/
/backend/dist/
/backend/coverage/
/backend/.env
/backend/prisma/dev.db